<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Mogo</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Generate Teams', auto_generate_teams_path, method: :post %></li>
            <li><%= link_to 'Generate Groups', auto_generate_groups_path, method: :post %></li>
            <li><%= link_to 'Generate Play Off', play_off_generate_groups_path, method: :post %></li>
            <li><%= link_to 'Generate Final', final_generate_groups_path, method: :post %></li>
            <li><%= link_to 'Erase DB', erase_db_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li>
            <li><a href="../navbar-fixed-top/">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
